@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Yeon+Sung&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Yeon Sung';

}
body{
    background-color: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 100vh;
     /* flex-wrap: wrap;  */ 
    /* height: 100vh;
    width: 100vw; */
}

html,
body{
    font-size: 62.5%;
    /* height: 100%; */
}

.container{
    background-color: #90F6D7;
    height: 80%;
    display: flex;
    justify-content: center;
    width: 48%;
    margin: 15%;
    padding: 4%;
    align-items: center;
    border-radius: 0.5%;
}

.inner{
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: white;
    height: 52rem;
    width: 83rem;
    border-radius: 0.5;
}
.box{
    display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
    background-color:white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5%;
    /* filter: opacity(1); */
    /* cursor: pointer 25 25, auto; */
}

.number{
    float: right;
    position: absolute;
    /* right: -27px;
    top: -27px; */
    right: -60px;
    top: -60px;
}

.number img{
    width: 22rem;
    height: 22rem;
    /* margin: -75px 0 0 -100px; */
    /* object-position: 20% 10%;  */
    object-fit: contain;
    cursor: pointer;
    /* opacity: 0.4; */
   
}

.text{
    background-color: rgb(210 147 99 / 1%);
    /* height: 100px;
    width: 100px; */
    /* align-self: center; */
    margin: auto auto;
    width: 70vw;
     height: 30vh;
    text-align: center;
    font-size: 4rem;
    display: flex;
    object-fit: cover;
}
.backG{
 
       position: fixed;
        z-index: 0;
        top: 0rem;
        left: 0rem;
        background-image: url("backG.jpg");
        /* Full height */
        height: 100%; 
        width: 100%;
        object-fit: cover;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1; 
}
.quoteSymbol{
    position: absolute;
    top: 40px;
    left: 40px;
    /* margin: 0 10px 10px 0; */
    /* background: gray; */
    color: gray;
    position: fixed;
    z-index: 1;

}
.quote{
    font-family: 'Quintessential', cursive;
    align-self: center;
    margin: 0 0 10rem 4rem;
    padding: 1rem;
    position: fixed;
        z-index: 1;

}
.author{
    align-self: center;
    margin: 0rem 30rem -27rem;
    width: 24rem;
    font-size: 3rem;
    position: fixed;
    z-index: 1;
}
.button{
    background-color: rgb(4, 4, 4);
    /* height: 10%;
    width: 10%;  
    font-size: 3.6rem;
    position: relative;
    z-index: 1;
    bottom: 5rem;
    text-align: center; */
    font-size: 2.8rem;
    position: absolute;
    z-index: 1;
    bottom: 0rem;
    text-align: center;
    width: 100%;
    height: 10%;
    /* padding: 1rem 31rem 1rem 30.4rem; */
    /* padding: 1rem 32.5rem 1rem 32.8rem;; */
}
.newQu{
    background-color: black;
    color: #f3f2ef;
    padding: 6px;
}
.newQu:hover{
    color: #4586FF;
}
.footer{
    /* position: absolute;
    bottom: -2rem; */
    text-align: center;
    color: blue;
    font-size: 1.4rem;
    align-self: flex-end ;
    position: relative;
    right: 44vw;
    bottom: 31%;
    margin-top: auto;
}


/*====================================================================================================== */


@media(max-width:1280px){
 
    .container{
      
        height: 75%;
        display: flex;
        justify-content: center;
        width: 74%;
        margin: 15%;
        /* padding: 6%; */
        align-items: center;
        border-radius: 0.5%;
    }
    .button{
        background-color: rgb(4, 4, 4);
        /* height: 10%;
        width: 10%;   */
        font-size: 1.9rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        /* font-size: 3.6rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        padding: 1rem 11rem 1rem 10.4rem; */
    }
    .footer{
        /* position: absolute;
        bottom: -2rem; */
        text-align: center;
        color: blue;
        font-size: 1rem;
        align-self: flex-end ;
        position: absolute;
        right: 46vw;
        bottom: 10%;
        margin: 0 auto;
    }
}
/*---------------------------------------------------------------------------------- */
@media(max-width:1224px){
    .footer{
        /* position: absolute;
        bottom: -2rem; */
        text-align: center;
        color: blue;
        font-size: 1rem;
        align-self: flex-end ;
        position: absolute;
        right: 43vw;
        bottom: 3%;
        margin: 0 auto;
    }
}

@media(max-width:1484px){
    .container{
      
        height: 75%;
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 15%;
        /* padding: 6%; */
        align-items: center;
        border-radius: 0.5%;
    }
    .footer{
        /* position: absolute;
        bottom: -2rem; */
        text-align: center;
        color: blue;
        font-size: 1rem;
        align-self: flex-end ;
        position: absolute;
        right: 43vw;
        bottom: 2%;
        margin: 0 auto;
    }
}
@media(max-width:820px){
 
    .container{
      
        height: 75%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 92%;
        margin: 15%;
        /* padding: 6%; */
        align-items: center;
        border-radius: 0.5%;
    }
    .button{
        background-color: rgb(4, 4, 4);
        /* height: 10%;
        width: 10%;   */
        font-size: 2.6rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        /* font-size: 3.6rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        padding: 1rem 20rem 1rem 20.4rem; */
    }
    .button{
        background-color: rgb(4, 4, 4);
        /* height: 10%;
        width: 10%;   */
        font-size: 1.6rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        /* font-size: 3.6rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        padding: 1rem 11rem 1rem 10.4rem; */
    }
   
/*-------------------------------------------------------------------------------------- */
}
@media(max-width:473px){
 
    .container{
       
        height: 75%;
        display: flex;
        justify-content: center;
        width: 95%;
        margin: 15%;
        /* padding: 6%; */
        align-items: center;
        border-radius: 0.5%;
        flex-wrap: wrap;
    }
    .box{
        align-self: center;
        flex-wrap: wrap;
    }
    .text{
        background-color: rgb(210 147 99 / 1%);
        /* height: 100px;
        width: 100px; */
        /* align-self: center; */
        margin: -15px auto;
        width: 70vw;
        height: 20vh;
        text-align: center;
        font-size: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .button{
        background-color: rgb(4, 4, 4);
        /* height: 10%;
        width: 10%;   */
        font-size: 1.5rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        line-height: 3rem;
        /* font-size: 3.6rem;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        text-align: center;
        padding: 1rem 11rem 1rem 10.4rem; */
    }
    .number img{
        width: 12rem;
        height: 12rem;
        /* margin: -75px 0 0 -100px; */
        /* object-position: 20% 10%;  */
        object-fit: contain;
    }
    .number{
        float: right;
        position: absolute;
        /* right: -27px;
        top: -27px; */
        right: -30px;
        top: -35px
       
    }
    .quote{
        align-self: center;
        margin: -2rem 0 0.5rem 0.2rem;
        /* padding: 1rem; */
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        z-index: 1;
    }
    .author{
        /* align-self: center; */
        margin: 230px 3px 0px;
        width: 24rem;
        font-size: 1.5rem
    }
    .footer{
        bottom: 5%;
    
    }
   
}